:root {
  /* 🎨 Colores principales */
  --tomato-red: #e33434;       /* Salsa de tomate, energía */
  --mozzarella-white: #F8F9FA; /* Base limpia, neutral */
  --basil-green: #2B9348;      /* Frescura, Italia */

  /* 🎨 Colores de acento */
  --cheese-yellow: #F4D35E;    /* Alegre, apetitoso */
  --oven-charcoal: #495159;    /* Horno de piedra, contraste */

  /* 🐱 Extra divertido */
  --playful-pink: #FFB3C6;     /* Detalles gatunos */
}


.logo {
    max-width: 100%;
    height: 120px;   
}

.contenedor {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
body {
    background-color: var(--oven-charcoal);
}

header {
    background-color: var(--tomato-red);
    height: 118px;
    width: 1024px;
    text-align: center;
}

nav {
    background-color: var(--basil-green);
    height: 40px;
    width: 1024px;
    margin-top: auto;
}

main {
    background-color: var(--cheese-yellow);
    height: 400px;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: var(--basil-green);
    height: 100px;  
    width: 1024px;
}
    
h1 {
    font-size: 60px;
    color: var(--oven-charcoal);
    text-align: center;
    font-family:"Indie Flower", cursive;
}
p {
    font-size: 24px;
    color: var(--oven-charcoal);
    text-align: center;
}
